<%- include('../partials/_header.ejs'); %>
<div class="container pt-5">
    <h2 class="text-center">Editar funda</h2>
    <% if (data) { %>
    <% for(var i = 0; i < data.length; i++) {%>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4">
            <form action="/admin/edited/<%= data[i].idProducto %>" method="POST">
                <div class="form-group">
                    <label for="nMarca">Marca de telefono</label>
                    <input type="text" class="form-control" value="<%= data[i].idMarca %>" id="nMarca" name="idMarca" autofocus>
                </div>
                <div class="form-group">
                    <label for="nModelo">Modelo</label>
                    <input type="text" class="form-control" value="<%= data[i].Modelo %>" id="nModelo" name="Modelo" >
                </div>
                <div class="form-group">
                    <label for="nDescripcion">Descripción</label>
                    <input type="text" class="form-control" value="<%= data[i].Descripcion %>" id="nDescripcion" name="Descripcion" >
                </div>
                <div class="form-group">
                    <label for="nStock">Stock</label>
                    <input type="number" class="form-control" value="<%= data[i].Stock %>" id="nStock" name="Stock">
                </div>
                <div class="row">
                    <div class="col-6">
                        <a href="/admin/catalog">
                            <button type="button" class="btn btn-danger btn-block">Regresar</button>
                        </a>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success btn-block">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <% } %>
    <% } %>
</div>
<%- include('../partials/_footer.ejs'); %>
